body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.div-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group-text {
    position: relative;
}

button {
    position: relative;
    margin-top: 20px;
    width: 207px;
}

.inp-2 {
    position: relative;
    top: 10px;
}