body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

h4 {
    position: relative;
    font-size: 100px;
}