body {
    padding: 0px;
    margin: 0px;
}

input {
    position: relative;
    left: 600px;
    top: 280px;
    width: 165px;
    background-color: white;
}

button {
    position: relative;
    left: 600px;
    top: 300px;
}