body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.div-1 {
    position: absolute;
}

.div-2 {
    position: absolute;
    top: 10px;
    left: 20px;
}

.fa-compass {
    position: relative;
    font-size: 30px;
}

.div-3 {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(208, 208, 208);
    top: 50px;
    left: 20px;
    border-radius: 20px;
    visibility: hidden;
    display: hidden;
}

.fa-user {
    position: relative;
    font-size: 20px;
    left: 100px;
}

.fa-phone {
    position: relative;
    font-size: 20px;
    left: 100px;
}

.fa-location-dot {
    position: relative;
    font-size: 20px;
    left: 100px;
}