body {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

button {
    position: absolute;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}