body {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: #292929; */
}

.header-span-1 {
    position: absolute;
    left: 1140px;
    top: 20px;
}

.header-btn-1 {
    position: relative;
    width: 150px;
    background-color: white;
    border-color: white;
    border-radius: 20px;
}

.section-p-1 {
    position: absolute;
    color: #292929;
    font-size: 400px;
    left: 90px;
    top: 390px;
    display: inline-block;
}

.article-span-1 {
    position: absolute;
}

.article-image-1 {
    position: relative;
    width: 200px;
    top: 175px;
    right: 110px;
}
